# Data Science Tools and Ecosystem

> Add blockquote

> Add blockquote

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Understand basic arithmetic operations in Python
- Learn how to convert units (e.g., minutes to hours)
- Explore tools and ecosystems in Data Science
- Practice creating and running markdown and code cells in Jupyter/Colab

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Addition
print("Addition:", 5 + 3)

# Subtraction
print("Subtraction:", 10 - 4)

# Multiplication
print("Multiplication:", 7 * 2)

# Division
print("Division:", 16 / 4)

# Exponentiation
print("Exponentiation:", 3 ** 2)

Addition: 8
Subtraction: 6
Multiplication: 14
Division: 4.0
Exponentiation: 9

This a simple arithmetic expression to mutiply then add integers

In [6]:
result = (3*4)+5

In [9]:
print(result)

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Ameya Deshpande